

<main>
    <h1>Agregar Superhéroe</h1>

    <% if (locals.error) { %>
        <div class="error-message"><%= error %></div>
    <% } %>

    <form action="/api/heroes/agregar" method="POST">
        <div>
            <label for="nombreSuperHeroe">Nombre del Superhéroe</label>
            <input type="text" id="nombreSuperHeroe" name="nombreSuperHeroe" minlength="3" maxlength="60" required />
        </div>

        <div>
            <label for="nombreReal">Nombre Real</label>
            <input type="text" id="nombreReal" name="nombreReal" minlength="3" maxlength="60" required />
        </div>

        <div>
            <label for="edad">Edad</label>
            <input type="number" id="edad" name="edad" min="0" required />
        </div>

        <div>
            <label for="planetaOrigen">Planeta de Origen</label>
            <input type="text" id="planetaOrigen" name="planetaOrigen" required />
        </div>

        <div>
            <label for="debilidad">Debilidad</label>
            <input type="text" id="debilidad" name="debilidad" />
        </div>

        <div>
            <label for="poder">Poderes</label>
            <input type="text" id="poder" name="poder" placeholder="Agregar poderes, separados por coma" required />
        </div>
    
        <div>
            <label for="aliado">Aliados</label>
            <input type="text" id="aliado" name="aliado" placeholder="Agregar aliados, separados por coma" />
        </div>
    
        <div>
            <label for="enemigo">Enemigos</label>
            <input type="text" id="enemigo" name="enemigo" placeholder="Agregar enemigos, separados por coma" />
        </div>
    
        <button type="submit">Agregar Superhéroe</button>
    </form>
</main>


